.list-category {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-items: center;
  padding: 10px;

  .item-category-group {
    position: relative;
    border-radius: 15px;
    .item-category {
      position: absolute;
      width: 400px;
      height: 400px;
      background-color: rgba(80, 73, 71, 0.5);
      z-index: 100;
      top: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 30px;

      /* CSS */
      .item-category-name {
        background-image: linear-gradient(
          92.88deg,
          #455eb5 9.16%,
          #5643cc 43.89%,
          #673fd7 64.72%
        );
        background-color: #fbab7e;
        background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
        pointer-events: none;
        padding: 10px 20px;
        border-radius: 5px;
        color: white;
        transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      }

      .item-category-name:hover {
        box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
        transition-duration: 0.1s;
      }
    }
    img {
      border-radius: 30px;
    }
    .item-brand-group {
      width: 100%;
      height: 100%;
      position: absolute;
      display: grid;
      grid-template-columns: 50% 50%;
      justify-items: center;
      align-items: center;

      .item-brand {
        background-image: linear-gradient(
          92.88deg,
          #455eb5 9.16%,
          #5643cc 43.89%,
          #673fd7 64.72%
        );
        background-color: #fbab7e;
        background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
        pointer-events: none;
        padding: 10px 20px;
        border-radius: 5px;
        color: white;
        width: -moz-fit-content;
        width: fit-content;
        height: fit-content;
        text-align: center;
        min-width: 100px;
        transform: scale(0);
        transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
      }
    }
  }
}

.item-category-group:hover {
  .item-category-name {
    opacity: 0;
    transform: scale(0);
  }
  .item-brand-group {
    opacity: 1;

    .item-brand {
      transform: scale(1);
    }
  }
}
