:root {
  --maincolor: #343a3f;
}
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
}
.asideNav{
  flex: 1;
  height: 100%;
  background-color: rgb(255, 255, 255);
  align-self: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  z-index: 2;
  transition: 0.25s all cubic-bezier(0.165, 0.84, 0.44, 1);
}
.asideNavActive {
  position: absolute;
  transform: translateX(-100%);
}
.asideNavActive2 {
  flex: 1;
}
.headerLogo {
  display: flex;
  position: relative;
  height: 100px;
  align-items: center;
}
.headerLogo_circle1 {
  width: 30px;
  height: 30px;
  background-color: #ff7f57;
  border-radius: 50%;
  position: absolute;
  transform: translateX(200%);
}
.headerLogo_circle2 {
  width: 50px;
  height: 50px;
  background-color: #ffc629;
  border-radius: 50%;
  position: absolute;
  transform: translateX(150%);
}
.headerLogo > h2 {
  position: absolute;
  transform: translateX(50%);
  color: #343a3f;
  pointer-events: none;
}
.headerLogo > h2::after {
  content: "";
  width: 200px;
  height: 1px;
  background-color: #d8d8d8;
  position: absolute;
  bottom: -100%;
  left: -40px;
}
.bodyNav > ul {
  padding: 0px;
  margin: top 20px;
  text-decoration: none;
}
.bodyNav > ul li {
  list-style: none;
  padding: 15px 20px;
  margin: 10px 10px;
  text-align: center;
  color: rgb(55, 65, 81);
  cursor: pointer;
  text-decoration: none;
}
.bodyNav > ul li:hover {
  background-color: rgb(3, 201, 215);
  border-radius: 5px;
  color: #fff !important;
}
.bodyNav_group {
  display: flex;
  justify-content: space-between;
}
.content {
  flex: 5;
  background-color: rgb(250, 251, 251);
  animation: fadeIn 1s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
  transition: all 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
  overflow: scroll;
}
.user {
  display: flex;
  cursor: pointer;
  transition: 0.25s ease;
  height: 50px;
  justify-content: center;
  align-items: center;
  img {
    width: 30px;
    height: 30px;
    transition: 0.25s ease;
    margin-left: 10px;
  }
  img:hover{
    transform: scale(1.1);
  }
}
// .user:hover {
//   transform: scale(1.1);
//   position: relative;
// }
.logout {
  width: 200px;
  height: 50px;
  background-color: #fff;
  margin: 15px auto;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.logout:hover {
  background-color: var(--maincolor);
  color: #fff;
}
.active {
  background-color: rgb(3, 201, 215);
  border-radius: 5px;
  color: #fff !important;
}
.header {
  display: flex;
  padding: 10px;
  justify-content: space-around;
  position: sticky;
  top: 0;
  width: auto;
  margin: auto;
  background-color: rgb(250, 251, 251);
  z-index: 30000;

  .header-clock {
    background-color: #252849;
    padding: 0px 15px;
    border-radius: 5px;
    border: none;
    outline: none;
    color: white;
    p {
      pointer-events: none;
    }
  }
}

.header-from-search {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: -moz-fit-content;
  width: 100%;
}
.header-from-search-group {
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
}
.header-from-input {
  padding: 12px;
  width: 360px;
  border-radius: 10px;
  background-color: #252849;
  position: relative;
  border: none;
  position: relative;
  color: #fff;
  font-size: 16px;
  outline: none;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.header-from-button {
  color: #fff;
  transition: 0.25s ease;
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  padding: 0px 20px;
}
.header-from-input:not(:placeholder-shown) + .header-from-button,
.header-from-input:focus + .header-from-button {
  transform: translateX(120%) translateY(-50%);
  height: 48px;
  width: 48px;
  padding: 0px;
  background-color: #252849;
  border-radius: 20px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-option {
  position: absolute;
  width: 200px;
  height: 300px;
  background-color: #fff;
  right: 0;
  top: 110%;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  margin-right: 10px;
  border-radius: 10px;
  opacity: 0;
  display: none;
}
.userOptionActive {
  opacity: 1;
  display: flex;
  transform-origin: top right;
  animation: fadeInUserOption 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.user-option img {
  align-self: center;
  outline: none;
  border: none;
  margin: 10px 0;
}
.user-option h3 {
  align-self: center;
  margin: 0px;
  color: #333;
}
.user-option p {
  align-self: center;
  margin: 0px;
  color: #333;
}
@keyframes fadeIn {
  to {
    transform: translateX(0);
  }
}
@keyframes fadeInUserOption {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
