@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

.container {
  position: relative;
  margin: 0;
  width: 100%;
  height: 100vh;
  overflow: scroll;
}
.listcategory {
  width: 90%;
  margin: 0px auto;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  overflow: scroll;

  .table {
    align-self: center;
    width: 95%;
    margin: 0px 10px;
    thead {
      outline: 2px solid rgb(3, 201, 215);
      background-color: rgb(3, 201, 215);
      tr {
        th {
          outline: 2px solid rgb(3, 201, 215);
          border: none;
          font-weight: 500;
          font-family: Roboto, "Segoe UI", GeezaPro, "DejaVu Serif",
            "sans-serif", -apple-system, BlinkMacSystemFont;
          font-size: 12px;
          font-style: normal;
          color: #fff;
        }
      }
    }
    tbody {
      tr {
        outline: 2px solid rgba(224, 224, 224, 1);
        td {
          text-align: center;
          position: relative;
          font-size: 13px;
          cursor: pointer;
          font-weight: 400;
          font-style: normal;
          font-family: Roboto, "Segoe UI", GeezaPro, "DejaVu Serif",
            "sans-serif", -apple-system, BlinkMacSystemFont;
          color: rgba(0, 0, 0, 0.87);
          line-height: 20px;
          margin: 5px;
          max-width: 250px;
          padding: 10px;
          img {
            width: 80px;
          }
        }
      }
      tr:hover {
        background-color: rgb(233, 233, 233);
        outline: 2px solid rgb(233, 233, 233);
        td {
          outline: 2px solid rgb(233, 233, 233);
        }
      }
    }

    .table-brand {
      width: 100%;
      align-self: center;
      transition: all 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
      transform: scaleY(0);
      transform-origin: top;
      position: absolute;
      bottom: 0;
      outline: none;
    }
  }
}
.modal-add-brand {
  width: 100%;
  height: 100%;
  background-color: lightcoral;
  position: fixed;
  top: 70px;
  bottom: 0;
  background-color: grey;
  -webkit-backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.274);
  backdrop-filter: blur(5px);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  display: none;

  .modal {
    margin: 20px;
    padding: 20px;
    width: 50%;
    min-height: 60%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    div {
      animation: xoay 1s linear infinite;
      button {
        align-items: center;
        appearance: none;
        background-color: #fff;
        border-radius: 24px;
        border-style: none;
        box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
          rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
        box-sizing: border-box;
        color: #3c4043;
        cursor: pointer;
        display: inline-flex;
        fill: currentcolor;
        font-family: "Google Sans", Roboto, Arial, sans-serif;
        font-size: 14px;
        font-weight: 500;
        height: 48px;
        justify-content: center;
        letter-spacing: 0.25px;
        line-height: normal;
        max-width: 100%;
        overflow: visible;
        padding: 2px 24px;
        position: relative;
        text-align: center;
        text-transform: none;
        transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1),
          opacity 15ms linear 30ms,
          transform 270ms cubic-bezier(0, 0, 0.2, 1) 0ms;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        width: auto;
        will-change: transform, opacity;
        z-index: 0;
        margin: 0 10px;
      }

      button:hover {
        background: #f6f9fe;
        color: #174ea6;
      }

      button:active {
        box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%),
          0 8px 12px 6px rgb(60 64 67 / 15%);
        outline: none;
      }

      button:focus {
        outline: none;
        border: 2px solid #4285f4;
      }
    }
    .modal-header {
      text-align: center;
      h2 {
        margin: 0px;
        width: -moz-fit-content;
        width: fit-content;
        color: #fff;
      }
      p {
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        font-size: 14px;
        color: #6a6d72;
      }
    }
    .modal-body {
      width: 90%;
      margin: 10px;
      display: flex;
      flex-direction: column;
      // align-items: center;
      align-self: center;
      .modal-body-group {
        display: flex;
        flex-direction: column;
        position: relative;
        animation: none;
        input {
          max-width: 100%;
          padding: 15px;
          font-size: 16px;
          border-radius: 5px;
          border: none;
          background-color: rgb(237, 237, 237);
          outline: none;
        }
        .modal-body-group-current-category {
          max-width: 100%;
          padding: 15px;
          font-size: 16px;
          border-radius: 5px;
          border: none;
          background-color: rgb(237, 237, 237);
          outline: none;
          display: flex;
          justify-content: space-between;
          p {
            margin: 0px;
            font-family: "Open Sans", sans-serif;
            font-weight: 400;
            font-size: 14px;
            color: #000;
            cursor: pointer;
          }
        }
        .modal-body-group-dropdown-category {
          width: 100%;
          // padding: 15px;
          font-size: 16px;
          border-radius: 5px;
          border: none;
          background-color: rgb(237, 237, 237);
          outline: none;
          margin-top: 10px;
          position: absolute;
          top: 100%;
          z-index: 2;
          display: block;
          display: none;
          p {
            margin: 0px;
            padding: 15px;
            font-family: "Open Sans", sans-serif;
            font-weight: 400;
            font-size: 14px;
            color: #000;
            cursor: pointer;
          }
          p:first-child:hover {
            background-color: #6a6d72;
            border-radius: 5px 5px 0px 0px;
          }
          p:last-child:hover {
            background-color: #6a6d72;
            border-radius: 0px 0px 5px 5px;
          }
          p:hover {
            background-color: #6a6d72;
            color: #fff;
          }
        }
      }
    }
    .activedropdown {
      display: block !important;
    }
    .hidebutton {
      display: none !important;
    }
    .modal-footer {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;

      button {
        align-items: center;
        appearance: none;
        background-color: #fff;
        border-radius: 24px;
        border-style: none;
        box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
          rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
        box-sizing: border-box;
        color: #3c4043;
        cursor: pointer;
        display: inline-flex;
        fill: currentcolor;
        font-family: "Google Sans", Roboto, Arial, sans-serif;
        font-size: 14px;
        font-weight: 500;
        height: 48px;
        justify-content: center;
        letter-spacing: 0.25px;
        line-height: normal;
        max-width: 100%;
        overflow: visible;
        padding: 2px 24px;
        position: relative;
        text-align: center;
        text-transform: none;
        transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1),
          opacity 15ms linear 30ms,
          transform 270ms cubic-bezier(0, 0, 0.2, 1) 0ms;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        width: auto;
        will-change: transform, opacity;
        z-index: 0;
        margin: 0 10px;
      }

      button:hover {
        background: #f6f9fe;
        color: #174ea6;
      }

      button:active {
        box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%),
          0 8px 12px 6px rgb(60 64 67 / 15%);
        outline: none;
      }

      button:focus {
        outline: none;
        border: 2px solid #4285f4;
      }

      button:not(:disabled) {
        box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0,
          rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
      }

      button:not(:disabled):hover {
        box-shadow: rgba(60, 64, 67, 0.3) 0 2px 3px 0,
          rgba(60, 64, 67, 0.15) 0 6px 10px 4px;
      }

      button:not(:disabled):focus {
        box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0,
          rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
      }

      button:not(:disabled):active {
        box-shadow: rgba(60, 64, 67, 0.3) 0 4px 4px 0,
          rgba(60, 64, 67, 0.15) 0 8px 12px 6px;
      }

      button:disabled {
        box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0,
          rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
      }
    }
  }
  .modal-message {
    margin: 20px;
    padding: 20px;
    width: 50%;
    min-height: 60%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: none;
    div {
      animation: xoay 1s linear infinite;
      button {
        background-color: #fff;
        border: 1px solid #d5d9d9;
        border-radius: 8px;
        box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
        box-sizing: border-box;
        color: #0f1111;
        cursor: pointer;
        display: inline-block;
        font-family: "Amazon Ember", sans-serif;
        font-size: 13px;
        line-height: 29px;
        padding: 0 10px 0 11px;
        position: relative;
        text-align: center;
        text-decoration: none;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        vertical-align: middle;
        width: 100px;
      }

      button:hover {
        background-color: #f7fafa;
      }

      button:focus {
        border-color: #008296;
        box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
        outline: 0;
      }
    }
  }
}
.activemodaladd {
  display: flex !important;
}
.button-add-new {
  display: flex;
  // width: 20px;
  height: 20px;
  align-items: center;
  background-color: rgb(3, 201, 215);
  margin: 10px 0;
  padding: 15px 10px;
  // margin-right: 20px;
  border-radius: 10px;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  color: #fff;
  p {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
  }
}
.container-header {
  .drop-down-current {
    padding: 10px 15px;
    width: 170px;
    border: 1px solid rgb(224, 224, 224);
    border-radius: 5px;
    background-color: white;
    margin-left: 20px;
    margin-bottom: 20px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    div {
      display: flex;
      justify-content: space-around;
      p {
        margin: 0 0px;
      }
    }
    .drop-down-option {
      width: 100%;
      display: flex;
      flex-direction: column;
      position: absolute;
      border: 1px solid rgb(224, 224, 224);
      border-radius: 5px;
      background-color: white;
      left: 0;
      top: 100%;
      margin-top: 10px;
      z-index: 2;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      // max-height: 400px;
      // overflow-y: scroll;
      display: none;
      // transform: scaleY(0);
      // transform-origin: top;
      // // transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
      // animation: dropdown 2s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;

      p {
        margin: 0px 0px;
        padding: 8px 4px;
      }
      p:first-child {
        border-radius: 5px 0px 0px 0px;
        border: none;
        outline: none;
      }
      p:last-child {
        border-radius: 0px 0px 0px 5px;
        border: none;
        outline: none;
      }
      p:hover {
        background-color: #000;
        color: #fff;
        cursor: pointer;
      }
    }
  }
}
.button-add-new:hover {
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
.button-add-new p {
  margin: 0px 5px;
  pointer-events: none;
}
.modal-body-group-current-category {
}
.onoffbutton {
  width: 100px;
  height: 30px;
  background: #6a6d72;
  animation: none;
  border-radius: 20px;
  position: relative;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  div {
    width: 20px;
    height: 20px;
    background-color: #fff;
    animation: none;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    left: 5%;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  p {
    position: absolute;
    right: 8px;
    top: 50%;
    margin: 0;
    transform: translateY(-50%);
    pointer-events: none;
  }
  p:last-child {
    position: absolute;
    left: 8px;
    top: 50%;
    margin: 0;
    transform: translateY(-50%);
  }
}
.onToggle {
  left: 75% !important;
}
.onToggle2 {
  background: lightgreen !important;
}
.onToggle3 {
  opacity: 0;
}
.turnonDropDown {
  display: flex !important;
}
@keyframes xoay {
  to {
    transform: rotate(360deg);
  }
}
@keyframes dropdown {
  to {
    transform: scaleY(1);
  }
}
