@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
.container {
  position: relative;
  margin: 0;
  width: 100%;
  height: 100vh;
  overflow: scroll;
}
.listcategory {
  width: 90%;
  margin: 0px auto;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  overflow: scroll;

  .table {
    align-self: center;
    width: 95%;
    margin: 0px 10px;

    thead {
       outline: 2px solid rgb(3, 201, 215);
      background-color: rgb(3, 201, 215);
      tr {
        th {
          outline: 2px solid rgb(3, 201, 215);
          border: none;
          font-weight: 500;
          font-family: Roboto, "Segoe UI", GeezaPro, "DejaVu Serif",
            "sans-serif", -apple-system, BlinkMacSystemFont;
          font-size: 12px;
          font-style: normal;
          color: #fff;
        }
      }
    }
    tbody {
      tr {
        outline: 2px solid rgba(224, 224, 224, 1);
        td {
          text-align: center;
          position: relative;
          font-size: 13px;
          cursor: pointer;
          font-weight: 400;
          font-style: normal;
          font-family: Roboto, "Segoe UI", GeezaPro, "DejaVu Serif",
            "sans-serif", -apple-system, BlinkMacSystemFont;
          color: rgba(0, 0, 0, 0.87);
          line-height: 20px;
          margin: 5px;
          max-width: 250px;
          padding: 10px;
          img {
            width: 30px;
          }
        }
      }
      tr:hover {
        outline: 2px solid rgb(219, 219, 219);
        td {
          outline: 2px solid rgb(219, 219, 219);
          background-color: rgb(219, 219, 219);
        }
      }
    }
  }
}
.button-add-new {
  display: flex;
  // width: 20px;
  height: 20px;
  align-items: center;
  background-color: rgb(3, 201, 215);
  margin: 10px 0;
  padding: 15px 10px;
  // margin-right: 20px;
  border-radius: 10px;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  color: #fff;
  p {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
  }
}
.button-add-new:hover {
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
.button-add-new p {
  margin: 0px 5px;
  pointer-events: none;
}